<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Account</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/mystyle.css" th:href="@{/css/mystyle.css}"/>
</head>
<body>
<div align="right">
    <a th:href="@{/Logout}">Logout</a>
</div>

<h1>Money Transfer Home Page</h1>

<h3>Account Transactions</h3>
<table>
    <thead>
    <tr>
        <th>Import</th>
        <th>Date</th>
        <th>Origin Usrn</th>
        <th>Origin Acct</th>
        <th>Destination Usrn</th>
        <th>Destination Acct</th>
        <th>Description</th>
        <th>ID</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="t : ${transactions}">
        <td th:text="${t.amount}"></td>
        <td th:text="${t.date}"></td>
        <td th:text="${t.originUsername}"></td>
        <td th:text="${t.originId}"></td>
        <td th:text="${t.destinationUsername}"></td>
        <td th:text="${t.destinationId}"></td>
        <td th:text="${t.description}"></td>
        <td th:text="${t.transactionId}"></td>
    </tr>
    </tbody>
</table>

<div>
    <p>Complete the form to make a transaction</p>
    <form action="#" th:action="@{/CreateTransaction(accountid=${accountid})}" method="POST">
        <fieldset>
            <label>
                Recipient Username: <input type="text" name="recipient-username" required/><br>
            </label>
            <label>
                Recipient Account ID: <input type="text" name="recipient-accountid" required/><br>
            </label>
            <label>
                Amount: <input type="text" name="amount" required/><br>
            </label>
            <label>
                Description: <input type="text" name="description" required/><br>
            </label>
            <input type="submit" name="create-transaction">
        </fieldset>
    </form>
</div>
</body>
</html>