<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/mystyle.css" th:href="@{/css/mystyle.css}"/>
</head>
<body>
<h1>Confirmation</h1>

<div align="right">
    <a th:href="@{/Logout}">Logout</a>
</div>
<p>"Your transaction has been successfully executed"</p>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Balance</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${origin.accountId}"></td>
        <td th:text="${origin.balance}"></td>
    </tr>
    <tr>
        <td th:text="${destination.accountId}"></td>
        <td th:text="${destination.balance}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>