<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/mystyle.css" th:href="@{/css/mystyle.css}"/>
</head>
<body>
<h1>Welcome to the Money Transfer Home Page</h1>

<div align="right">
    <a th:href="@{/Logout}">Logout</a>
</div>
<p th:text="${'Nice to see you again ' + session.user.name + ' ' + session.user.surname}"></p>

<table>
    <thead>
    <tr>
        <th>Account nr</th>
        <th>Balance</th>
        <th>Link</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="a : ${accounts}">
        <td th:text="${a.accountId}"></td>
        <td th:text="${a.balance}"></td>
        <td><a th:href="@{/GetAccountDetails(accountid=${a.accountId})}">Details</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>